{% macro docs(namespace) %}
{% if namespace.namespace == "." %}

{% for sub_ns in namespace.children %}
	{{ docs(sub_ns) }}
{% endfor %}

{% else %}

<hr class="big-divider" />

{# COULD be a namespace.... but could also be a class. #}
<section class="docs-namespace">

	<h2 id="{{namespace.def.namespace}}" class="{{ "class" if namespace.type == "class" else "namespace" }}">
		{{ namespace.namespace }}
		<a href="#{{namespace.def.namespace}}" title="{{namespace.def.namespace}}" class="anchor-link">&#x1f517;</a>
	</h2>
	<div class="filename-link-p">
		<a href="{{ namespace.url }}" class="filename-link">{{ namespace.def.filename }}:{{ namespace.def.line }}</a>
	</div>
	
	<div class="namespace-description">
		{% markdown %}{{ namespace.def.description }}{% endmarkdown %}
	</div>
	
	{% if namespace.examples|length %}
	<div class="docs-examples">
	<h4>Examples</h4>
	{% for example in namespace.examples %}
	<div class="example">
		<h5>{{ example.description }}</h5>
		{{ example.example_highlighted|safe }}
	</div>
	{% endfor %}
	</div>
	{% endif %}
	

	{% if namespace.children|length %} {# > 0 #}
	<div class="namespaces">
		{% for sub_ns in namespace.children %}
			{{ docs(sub_ns) }}
		{% endfor %}
	</div>
	{% endif %}

	{# ------------ #}

	{# TODO: Do values here #}

	{% if namespace.functions|length %}

	<section>
		<h3 id="{{namespace.def.namespace}}__@@functions">Functions</h3>
		{% for function in namespace.functions %}
			{% include "function.njk" %}
		{% endfor %}
	</section>
	
	{% endif %}
	
	{# ------------ #}
	
	{% if namespace.events|length %}
	
	<section>
	<h3 id="{{namespace.def.namespace}}__@@events">Events</h3>
	{% for event in namespace.events %}
		{% include "event.njk" %}
	{% endfor %}
	</section>
	
	{% endif %}

</section>

{% endif %}

{% endmacro %}
