<section class="docs-event">
	<h3 id="{{ event.namespace }}:{{ event.event }}" class="event">
		{{ event.event }}
		<a href="#" title="{{ event.namespace }}:{{ event.event }}" class="anchor-link">&#x1f517;</a>
	</h3>
	
	<div class="filename-link-p">
		<a href="{{ event.url }}" class="filename-link">{{ event.filename }}:{{ event.line }}</a>
	</div>
	
	<div class="event-description">
		{% markdown %}{{ event.description }}{% endmarkdown %}
	</div>
	
	{% for directive in event.directives %}
		{% if directive.directive == "format" %}
		<h4>Format</h4>
		<pre><code>{{ directive.text }}</code></pre>
		{% endif %}
	{% endfor %}
	
	
	{% if event.examples|length %}
	<div class="docs-examples">
	<h4>Examples</h4>
	{% for example in event.examples %}
	<div class="example">
		<h5>{{ example.description }}</h5>
		{{ example.example_highlighted|safe }}
	</div>
	{% endfor %}
	</div>
	{% endif %}
	
	
	<details>
		<summary>Source</summary>
		<pre><code>{{event.text}}</code></pre>
		<pre><code>{{event|dump("\t")}}</code></pre>
	</details>
	
</section>