<section class="docs-function visibility-{{ "internal" if function.internal else "public" }}">
	<h3 id="{{ function.name_full }}" class="function">
		<span class="visibility-indicator {{ "internal" if function.internal else "public" }}" aria-description="{{ "internal" if function.internal else "public" }}" title="{{ "internal" if function.internal else "public" }}"></span>
		{{ function.name }}
		<a href="#" title="{{ function.name_full }}" class="anchor-link">&#x1f517;</a>
	</h3>
	
	<div class="filename-link-p">
		<a href="{{ function.url }}" class="filename-link">{{ function.filename }}:{{ function.line }}</a>
	</div>
	
	<div class="function-description">
		{% markdown %}{{ function.description }}{% endmarkdown %}
	</div>
	
	<div class="docs-arguments">
	<h4>Arguments</h4>
	<table>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Default value</th>
			<th>Description</th>
		</tr>
		
		{% for param in function.params %}
		<tr>
			<td><code>{{ param.name }}</code></td>
			<td><code>{{ param.type }}</code></td>
			<td>
				{% if param.default_value %}
					<code>{{ param.default_value }}</code>
				{% else %}
					<code>nil</code>
				{% endif %}
			</td>
			<td>{% markdown %}{{ param.description }}{% endmarkdown %}</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	
	<div class="docs-returns">
	<h4>Returns</h4>
	<p>{% if function.returns %}
		<code>{{ function.returns.type}}</code>
		{% if function.returns.description %}: {% markdown %}{{ function.returns.description }}{% endmarkdown %}{% endif %}
	{% else %}
		<code class="unknown">nil</code>
	{% endif %}</p>
	</div>
	
	{% if function.examples|length %}
	<div class="docs-examples">
	<h4>Examples</h4>
	{% for example in function.examples %}
	<div class="example">
		<h5>{{ example.description }}</h5>
		{{ example.example_highlighted|safe }}
	</div>
	{% endfor %}
	
	</div>
	{% endif %}
	
	<details class="debug-source">
		<summary>Source</summary>
		<pre><code>{{function.text}}</code></pre>
		<pre><code>{{function|dump("\t")}}</code></pre>
	</details>
	
</section>