<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{ site }} | API Documentation</title>
		
		<meta name="generator" content="moondocs {{ package.version }}" />
		
		<style>{{ css.styles | safe }}</style>
	</head>
	<body>
		<section id="__moondocs__sidebar">
			<h1>{{ site }}</h1>
			
			<p>
			<label>Search</label>
			<input type="search" id="__moondocs__search" placeholder="Requires Javascript to be enabled" />
			</p>
			
			{% from "navigation.njk" import navigation %}
			<nav>
				<ul class="nav-namespaces">
					{{ navigation(api) }}
				</ul>
			</nav>
		</section>
		
		<main>
			{% from "docs.njk" import docs %}
			
			<div class="namespaces">
				{{ docs(api) }}
			</div>
			
			<footer>
				<p>Powered by moondocs</p>
			</footer>
		</main>
	</body>
</html>